<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="text-center mt-5 pt-5"> <div class="text-center mt-5 pt-5">
            <div>
                <h1 class="display-1">
                    <i class="text-danger">D</i>
                    <i class="text-warning">o</i>
                    <i class="text-success">o</i>
                    <i class="text-info">d</i>
                    <i >l</i>
                    <i class="text-secondary">e</i>
                </h1>
                </br>
            </div>
            <div>
                <form action="{{ url_for('level1') }}" method="POST">
                    <input name="search" class="w-50">
                    <button>Search</button>
                </form>
                {% if search %}
                <h3>{{ query|safe }} is not found</h3>
                {% endif %}
            </div>
        </div></div>
    </body>
</html>